{% extends "base.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}Crear Engrane{% endblock title %}

{% block content %}
  
    <div class="card center" style="width: 80%;">
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-6 form-group">
              <label for="{{ form.Jp.id_for_label }}">Factor geométrico del piñón <small>*</small></label>
              {{ form.Jp|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Si no sabes el factor de geométrico haz click <a href="" data-toggle="modal" data-target="#FSModal">aquí.</a></small>
            </div>
            <div class="col-6 form-group">
              <label for="{{ form.Jg.id_for_label }}">Factor geométrico del engrane <small>*</small></label>
              {{ form.Jg|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Si no sabes el factor de geométrico haz click <a href="" data-toggle="modal" data-target="#FSModal">aquí.</a></small>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label for="{{ form.I.id_for_label }}">Factor geométrico, I <small>*</small></label>
              {{ form.I|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Si no sabes el factor de geométrico haz click <a href="" data-toggle="modal" data-target="#IModal">aquí.</a></small>
            </div>
            <div class="col-6 form-group">
              <label for="{{ form.aligment_type.id_for_label }}">Tipo de alineación <small>*</small></label>
              {{ form.aligment_type|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Si no sabes el tipo de alineación haz click <a href="" data-toggle="modal" data-target="#aligment_typeModal">aquí.</a></small>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label for="{{ form.kr.id_for_label }}">Factor de Confiabilidad <small>*</small></label>
              {{ form.kr|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Si no sabes el factor de confiabilidad haz click <a href="" data-toggle="modal" data-target="#ksModal">aquí.</a></small>
            </div>
            <div class="col-6 form-group">
              <label for="{{ form.SF.id_for_label }}">Factor de Seguridad <small>*</small></label>
              {{ form.SF|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">El factor de seguridad debe ser entre 1 y 1.5</small>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label for="{{ form.Ynp.id_for_label }}">Ynp <small>*</small></label>
              {{ form.Ynp|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Obtenga el número de ecuación correspondiente <a href="" data-toggle="modal" data-target="#YnpModal">aquí.</a></small>
            </div>
            <div class="col-6 form-group">
              <label for="{{ form.Znp.id_for_label }}">Znp <small>*</small></label>
              {{ form.Znp|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Obtenga el número de ecuación correspondiente <a href="" data-toggle="modal" data-target="#ZnpModal">aquí.</a></small>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label for="{{ form.Yng.id_for_label }}">Yng <small>*</small></label>
              {{ form.Yng|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Obtenga el número de ecuación correspondiente <a href="" data-toggle="modal" data-target="#YnpModal">aquí.</a></small>
            </div>
            <div class="col-6 form-group">
              <label for="{{ form.Zng.id_for_label }}">Zng <small>*</small></label>
              {{ form.Zng|add_class:"form-control" }}
              <small id="emailHelp" class="form-text text-muted">Obtenga el número de ecuación correspondiente <a href="" data-toggle="modal" data-target="#ZnpModal">aquí.</a></small>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Calcular</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal fs -->
  <div class="modal" id="FSModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Factor Geométrico</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% if gear.angle == 20.0 %}
            <img src="{% static "img/J20_table.jpeg" %}" class="img-thumbnail">
          {% elif gear.angle == 25.0 %}
            <img src="{% static "img/J25_table.jpeg" %}" class="img-thumbnail">
          {% endif %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Continuar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal fs -->
  <div class="modal" id="IModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Factor Geométrico, I</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% if gear.angle == 20.0 %}
            <img src="{% static "img/I20_table.jpeg" %}" class="img-thumbnail">
          {% elif gear.angle == 25.0 %}
            <img src="{% static "img/I25_table.jpeg" %}" class="img-thumbnail">
          {% endif %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal fs -->
  <div class="modal" id="ksModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Factor Geométrico, I</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="{% static "img/tabla_confiabilidad.jpeg" %}" class="img-thumbnail">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal fs -->
  <div class="modal" id="YnpModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ecuaciones Ynp</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="{% static "img/Yn_table.jpeg" %}" class="img-thumbnail">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal fs -->
  <div class="modal" id="ZnpModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ecuaciones Znp</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="{% static "img/Zn_table.jpeg" %}" class="img-thumbnail">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal fs -->
  <div class="modal" id="aligment_typeModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tipo de Alineación</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="{% static "img/cma_table.jpeg" %}" class="img-thumbnail">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

{% endblock content %}